<!-- <h1>test from template page</h1>
<h2>{{"Property Interpolation is one direction from component to html"}}</h2> -->

<div class="card">
  <div class="card-img-wrapper">
    <!-- <img class="card-img-top" src="assets/images/house.jpg" alt="" /> -->
    <img *ngIf="Property.Image" class="card-img-top" src="assets/images/{{Property.Image}}.jpg" alt="" />
    <img *ngIf="!Property.Image" class="card-img-top" src="assets/images/house.jpg" alt="" />
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/property-detail/{{Property.Id}}"><em class="fa fa-instagram fa-1x"></em></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><em class="fa fa-linkedin fa-1x"></em></button></li>
    </ul>
  </div>

  <div class="card-body p-2">
    <h1>{{ Property.Name }}</h1>
    <h2>{{ Property.Type }}</h2>
    <h3>{{ Property.Price }}</h3>
  </div>
</div>
